# Compiler files
cache/
out/

# Local differential fuzzer
/fuzzy_tests/

# Soldeer dependencies
dependencies/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.ignore

soljson-latest.js
dependencies/
